.service-item
    display: flex
    flex-direction: column
    width: 80vw
    height: fit-content
    gap:0rem
    position: relative
    margin: 0 auto
.service-item .NavItemCon
    height: 30vh
.service-item .NavItemVideo
    position: relative
.service-item .textWrapper
    height: 160% 
        