.moving-lines-container
  position: relative
  height: 100%
  min-height: 120vh
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden 

.moving-lines-target
  position: absolute 
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  gap:3rem


.line-wrapper
  overflow: hidden
  white-space: nowrap
  display: flex
  justify-content: center
  height: 100%

.line
  font-size: calc(10vw + 10vh)
  min-font-size: 7rem
  font-weight: bolder
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  position: relative
  font-family: Impact, sans-serif 
  font-weight: 800
  letter-spacing: 1rem
  height: 100%

.cases-layer
  position: relative 
  z-index: 1000 
  width: 100% 
@media screen and (max-width:800px) 
    .line
        letter-spacing: 0.3rem
@media screen and (max-width:400px)




@supports (-webkit-touch-callout: none)
  .line
    font-family: Impact, sans-serif  
    